.body_wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.sidebar {
  width: 280px;
  padding: 10px;
  background-color: rgb(228, 223, 223);
  position: relative;
  transition: width 0.3s;
}

.sidebar.closed {
  display: none;
}

.sidebar_menu {
  width: 260px;
  position: fixed;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s;
}

.navbar {
  height: 4rem;
  padding: 12px;
  background-color: rgb(228, 223, 223);
}

.main_content {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.footer {
  height: 4rem;
  padding: 10px;
  background-color: rgb(228, 223, 223);
}
